/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap'); */
.container {
    width: 1200px;
    margin: 0 auto;
}
.top-menu__nav-list {
    display: flex;
    justify-content: center;
    /*padding: 0px 380px;*/
    text-align: center;
    margin: 20px 0;
}
.top-menu__nav-item {
    display: inline-block;
    text-align: center;
}
.top-menu__nav-item a {
    align-items: center;
    max-width: 1200px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: red;
    text-align: center;
    word-spacing: 120px;
    padding: 60px;
}
.home {
    /*display: block;*/
    /*margin: auto;*/
    background-image: url("./images/image 1.jpg");
    /*width: 1280px;*/
    height: 789px;
    background-repeat: no-repeat;
    background-size: cover;
}
.h2 {
    text-transform: uppercase;
    margin-bottom: 38px;
    font-family: Montserrat;
    text-align: center;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    margin-top: 48px;
    font-weight: bold;
}
.describtion-text {
    text-align: center;
    /*width: 1145px;*/
    /*height: 132px;*/
    /*left: 67.5px;*/
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    /*margin-bottom: 0px;*/
    padding-top: 10px;
}
.describtion-text p {
    text-align: center;
    /*width: 1145px;*/
    /*height: 132px;*/
    /*left: 67.5px;*/
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    /*margin-bottom: 0px;*/
    padding-bottom: 28px;
}

.button-wrapper {
    margin: 66px 0 80px 0;
    text-align: center;
}
.button {
    padding: 19px 27px;
    width: 191px;
    height: 51px;
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    background: red;
    color: white;
}
.footer {
    text-align: right;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 29px;
}